<% layout('/partials/table') %>

<section class="hero is-dark mb-5">
  <div class="hero-body">
    <p class="title" style="color: whitesmoke;">
      Albums
    </p>
    <p class="subtitle" style="color: whitesmoke;">
      View or Insert a new Album. Albums must have at least one Artist, and many
      songs in their collection.
    </p>
  </div>
</section>

<div class="container mb-5" id="form-container">
  <div class="box">
    <h5 class="title is-5">INSERT new album</h5>

    <div class="field">
      <label class="label">* Album Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="" />
      </div>
    </div>

    <div class="field">
      <label class="label">Release date</label>
      <div class="control">
        <input class="input" type="date" placeholder="" />
      </div>
    </div>

    <div class="field">
      <label class="label">* Artist ID</label>
      <div class="control">
        <input class="input" type="text" placeholder="" />
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-small is-link">
          <strong>Submit</strong>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="box">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Album ID</th>
          <th>Album name</th>
          <th>Release date</th>
          <th>Artist ID</th>
        </tr>
      </thead>
      <tbody>
        <% fakeData.forEach(row => { %>
        <tr id="<%=row.albumId%>">
          <td><%=row.albumId%></td>
          <td><%=row.albumName%></td>
          <td><%=row.releaseDate%></td>
          <td><%=row.artistId%></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
