<% layout('/partials/table') %>

  <section class="hero is-dark mb-5">
    <div class="hero-body">
      <p class="title" style="color: whitesmoke;">
        Songs
      </p>
      <p class="subtitle mt-1" style="color: whitesmoke;">
        View, insert, update, or delete Songs. Songs are written by Artists, and
        featured on Albums.
      </p>
    </div>
  </section>

  <div class="container mb-5" id="form-container">
    <div class="box">
      <h5 class="title is-5">INSERT new song</h5>

      <div class="field">
        <label class="label">* Song Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="" />
        </div>
      </div>

      <div class="field">
        <label class="label">Song Length</label>
        <div class="control">
          <input class="input" type="number" placeholder="in seconds" />
        </div>
      </div>

      <div class="field">
        <label class="label">Album ID</label>
        <div class="control">
          <input class="input" type="text" placeholder="" />
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-small is-link">
            <strong>Submit</strong>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="box">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Song ID</th>
            <th>Song name</th>
            <th>Song length (s)</th>
            <th>Album ID</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(row=> { %>
            <tr id="<%=row.songID%>">
              <td>
                <%=row.songID%>
              </td>
              <td>
                <%=row.songName%>
              </td>
              <td>
                <%=row.songLength%>
              </td>
              <td>
                <%=row.albumID%>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
  </div>