<% layout('/partials/table') %>

<section class="hero is-dark mb-5">
  <div class="hero-body">
    <p class="title" style="color: whitesmoke;">
      Songs and artists
    </p>
    <p class="subtitle mt-1" style="color: whitesmoke;">
      View, or insert both songs and artists. Artists and songs are closely
      tied, where a song can be created by potentially many artists, and single
      artist can create many songs. Here you can view their relationship.
    </p>
  </div>
</section>

<div class="container mb-5" id="form-container">
  <div class="box">
    <form method="POST" action="/songArtist">
      <h5 class="title is-5">
        INSERT new song & artist relationship
      </h5>

      <div class="field is-small">
        <label for="songSelect" class="label">* Song ID</label>
        <div class="control select">
          <select name="songSelect" id="songDropdown">
            <option value="null">--Required--</option>
            <% data.songs.forEach(song => { %>
            <option value="<%= song.songID %>">
              [<%= song.songID %>] <%= song.songName %>
            </option>
            <% }) %>
          </select>
        </div>
      </div>

      <div class="field is-small">
        <label for="artistSelect" class="label">* Artist ID</label>
        <div class="control select">
          <select name="artistSelect" id="artistDropdown">
            <option value="null">--Required--</option>
            <% data.artists.forEach(artist => { %>
            <option value="<%= artist.artistID %>">
              [<%= artist.artistID %>] <%= artist.artistName %>
            </option>
            <% }) %>
          </select>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-small is-link">
            <strong>Submit</strong>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container">
  <div class="box">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Song name</th>
          <th>Song ID</th>
          <th>Artist ID</th>
          <th>Artist name</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(row => { %>
        <tr id="<%=data.indexOf(row)%>">
          <td><%=row.songName%></td>
          <td><%=row.songID%></td>
          <td><%=row.artistID%></td>
          <td><%=row.artistName%></td>
        </tr>
        <% }) %>
        <tr>
          <td colspan="4">
            <em>
              * Note: Song & Artist names are not part of SONGS_ARTISTS table,
              they are only listed for simpler user experience. <br />
              The database table SONGS_ARTISTS maps a single songID to a single
              artistID per the schema.
            </em>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <em> </em>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
